{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>덕행 웹 개발</title>
</head>
<body>
    <!-- 네비게이션바 위치를 다음엔 navbatr.html 로 이전-->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'pybo:index' %}">Pybo</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"> 
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">로그인</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<!-- 네비게이션바 inclde -->
{% include "navbar.html" %}

<!-- 기본 템플릿 안에 삽입될 내용 start-->
{% block content %}
{% endblock %}    
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<script src="{% static 'bootstrap.min.js' %}"></script>
<!-- 자바스크리립트 Start-->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>